# 0 - IMPORTS

In [242]:
import requests
import pandas as pd
import re
from datetime import datetime
from bs4 import BeautifulSoup

# 1 - Type: Classics

In [289]:
url_classic = 'https://books.toscrape.com/catalogue/category/books/classics_6/index.html'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'}

page = requests.get(url_classic, headers = headers)
soup = BeautifulSoup(page.text, 'html.parser')

## 1.1 Name - Price - Stock - Type

In [290]:
products_detalis = soup.find_all('li', class_ = 'col-xs-6 col-sm-4 col-md-3 col-lg-3')

products_name_price_stock = [list (filter(None, i.get_text().split('\n'))) for i in products_detalis ]

df_detalis_classic = pd.DataFrame(products_name_price_stock)
df_detalis_classic = df_detalis_classic.drop([2, 4, 5], axis =1)
df_detalis_classic.columns = ['Name', 'Price', 'Stock']
df_detalis_classic['Type'] = 'Classic'
df_detalis_classic['Price'] = df_detalis['Price'].str.replace('Â', '')
df_detalis_classic['Scraping_date'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

## 1.2 Star-Rating

In [291]:
# Number of results in it page 
results_classic = list(filter(None,soup.find(class_ = 'form-horizontal').get_text().split('\n')))
results_classic_number = int(results_classic[0].replace('results.', ''))

# Star_rating
star_rating = []
for x in range(results_classic_number):
    el = soup.find_all(class_ = 'star-rating')[x]
    class_name = el['class']
    a = class_name[1]
    star_rating.append(a)

# Star-rating dataframe 
star_rating_classic = pd.DataFrame(star_rating)
star_rating_classic.columns = ['star_rating']

## 1.3 - DataFrame raw classic

In [292]:
# Concat of dataframes 
df_raw_classic = pd.concat([df_detalis_classic, star_rating_classic], axis = 1)
df_raw_classic

,Name,Price,Stock,Type,Scraping_date,star_rating
0,The Secret Garden,£15.08,In stock,Classic,2024-03-07 10:49:23,Four
1,The Metamorphosis,£28.58,In stock,Classic,2024-03-07 10:49:23,One
2,The Pilgrim's Progress,£50.26,In stock,Classic,2024-03-07 10:49:23,Two
3,The Hound of the ...,£14.82,In stock,Classic,2024-03-07 10:49:23,Two
4,Little Women (Little Women ...,£28.07,In stock,Classic,2024-03-07 10:49:23,Four
5,Gone with the Wind,£32.49,In stock,Classic,2024-03-07 10:49:23,Three
6,Candide,£58.63,In stock,Classic,2024-03-07 10:49:23,Three
7,Animal Farm,£57.22,In stock,Classic,2024-03-07 10:49:23,Three
8,Wuthering Heights,£17.73,In stock,Classic,2024-03-07 10:49:23,Three
9,The Picture of Dorian ...,£29.70,In stock,Classic,2024-03-07 10:49:23,Two
10,The Complete Stories and ...,£26.78,In stock,Classic,2024-03-07 10:49:23,Four
11,Beowulf,£38.35,In stock,Classic,2024-03-07 10:49:23,Two
12,And Then There Were ...,£35.01,In stock,Classic,2024-03-07 10:49:23,Two
13,The Story of Hong ...,£43.19,In stock,Classic,2024-03-07 10:49:23,Four
14,The Little Prince,£45.42,In stock,Classic,2024-03-07 10:49:23,Two
15,Sense and Sensibility,£37.46,In stock,Classic,2024-03-07 10:49:23,One
16,Of Mice and Men,£47.11,In stock,Classic,2024-03-07 10:49:23,Two
17,Emma,£32.93,In stock,Classic,2024-03-07 10:49:23,Two
18,Alice in Wonderland (Alice's ...,£55.53,In stock,Classic,2024-03-07 10:49:23,One

# 2 - Type: Science Fiction

In [293]:
url_sf = 'https://books.toscrape.com/catalogue/category/books/science-fiction_16/index.html'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'}

page = requests.get(url_sf, headers = headers)
soup = BeautifulSoup(page.text, 'html.parser')

## 2.1 Name - Price - Stock - Type

In [294]:
products_detalis = soup.find_all('li', class_ = 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
products_name_price_stock = [list (filter(None, i.get_text().split('\n'))) for i in products_detalis ]

df_detalis_sf = pd.DataFrame(products_name_price_stock)
df_detalis_sf = df_detalis_sf.drop([2, 4, 5], axis =1)
df_detalis_sf.columns = ['Name', 'Price', 'Stock']
df_detalis_sf['Type'] = 'Science_fiction'
df_detalis_sf['Price'] = df_detalis_sf['Price'].str.replace('Â', '')
df_detalis_sf['Scraping_date'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

## 2.2 Star-Rating

In [297]:
# Number of results in it page 
results_sf= list(filter(None,soup.find(class_ = 'form-horizontal').get_text().split('\n')))
results_sf_number = int(results_sf[0].replace('results.', ''))

# Star_rating
star_rating = []
for x in range(results_sf_number):
    el = soup.find_all(class_ = 'star-rating')[x]
    class_name = el['class']
    a = class_name[1]
    star_rating.append(a)

# Star-rating dataframe 
star_rating_sf = pd.DataFrame(star_rating)
star_rating_sf.columns = ['star_rating']

## 2.3 - DataFrame raw Science Fiction

In [298]:
# Concat of dataframes 
df_raw_sf = pd.concat([df_detalis_sf, star_rating_sf], axis = 1)
df_raw_sf

,Name,Price,Stock,Type,Scraping_date,star_rating
0,Mesaerion: The Best Science ...,£37.59,In stock,Science_fiction,2024-03-07 10:50:11,One
1,Join,£35.67,In stock,Science_fiction,2024-03-07 10:50:11,Five
2,William Shakespeare's Star Wars: ...,£43.30,In stock,Science_fiction,2024-03-07 10:50:11,Four
3,The Project,£10.65,In stock,Science_fiction,2024-03-07 10:50:11,One
4,Soft Apocalypse,£26.12,In stock,Science_fiction,2024-03-07 10:50:11,Two
5,Sleeping Giants (Themis Files ...,£48.74,In stock,Science_fiction,2024-03-07 10:50:11,One
6,Arena,£21.36,In stock,Science_fiction,2024-03-07 10:50:11,Four
7,Foundation (Foundation (Publication Order) ...,£32.42,In stock,Science_fiction,2024-03-07 10:50:11,One
8,The Restaurant at the ...,£10.92,In stock,Science_fiction,2024-03-07 10:50:11,One
9,Ready Player One,£19.07,In stock,Science_fiction,2024-03-07 10:50:11,Four
10,"Life, the Universe and ...",£33.26,In stock,Science_fiction,2024-03-07 10:50:11,Two
11,Dune (Dune #1),£54.86,In stock,Science_fiction,2024-03-07 10:50:11,One
12,Do Androids Dream of ...,£51.48,In stock,Science_fiction,2024-03-07 10:50:11,One
13,Three Wishes (River of ...,£44.18,In stock,Science_fiction,2024-03-07 10:50:11,Two
14,The Last Girl (The ...,£36.26,In stock,Science_fiction,2024-03-07 10:50:11,Two
15,Having the Barbarian's Baby ...,£34.96,In stock,Science_fiction,2024-03-07 10:50:11,Four

# 3 - Type: Humor

In [300]:
url_humor = "https://books.toscrape.com/catalogue/category/books/humor_30/index.html"
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'}

page = requests.get(url_humor, headers = headers)
soup = BeautifulSoup(page.text, 'html.parser')

## 3.1 Name - Price - Stock - Type

In [303]:
products_detalis = soup.find_all('li', class_ = 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
products_name_price_stock = [list (filter(None, i.get_text().split('\n'))) for i in products_detalis ]

df_detalis_humor = pd.DataFrame(products_name_price_stock)
df_detalis_humor = df_detalis_humor.drop([2, 4, 5], axis =1)
df_detalis_humor.columns = ['Name', 'Price', 'Stock']
df_detalis_humor['Type'] = 'Humor'
df_detalis_humor['Price'] = df_detalis_humor['Price'].str.replace('Â', '')
df_detalis_humor['Scraping_date'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

## 3.2 Star-Rating

In [305]:
# Number of results in it page 
results_humor= list(filter(None,soup.find(class_ = 'form-horizontal').get_text().split('\n')))
results_humor_number = int(results_humor[0].replace('results.', ''))

# Star_rating
star_rating = []
for x in range(results_humor_number):
    el = soup.find_all(class_ = 'star-rating')[x]
    class_name = el['class']
    a = class_name[1]
    star_rating.append(a)

# Star-rating dataframe 
star_rating_humor = pd.DataFrame(star_rating)
star_rating_humor.columns = ['star_rating']

## 3.3 DataFrame raw Humor

In [308]:
# Concat of dataframes 
df_raw_humor = pd.concat([df_detalis_humor, star_rating_humor], axis = 1)
df_raw_humor

,Name,Price,Stock,Type,Scraping_date,star_rating
0,The Long Haul (Diary ...,£44.07,In stock,Humor,2024-03-07 10:58:48,One
1,Old School (Diary of ...,£11.83,In stock,Humor,2024-03-07 10:58:48,Five
2,I Know What I'm ...,£25.98,In stock,Humor,2024-03-07 10:58:48,Four
3,Hyperbole and a Half: ...,£14.75,In stock,Humor,2024-03-07 10:58:48,Five
4,Dress Your Family in ...,£43.68,In stock,Humor,2024-03-07 10:58:48,Three
5,Toddlers Are A**holes: It's ...,£25.55,In stock,Humor,2024-03-07 10:58:48,One
6,When You Are Engulfed ...,£30.89,In stock,Humor,2024-03-07 10:58:48,Five
7,Naked,£31.69,In stock,Humor,2024-03-07 10:58:48,Three
8,Lamb: The Gospel According ...,£55.50,In stock,Humor,2024-03-07 10:58:48,Five
9,Holidays on Ice,£51.07,In stock,Humor,2024-03-07 10:58:48,Two

# 4 - Type: Business

In [311]:
url_business = "https://books.toscrape.com/catalogue/category/books/business_35/index.html"
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'}

page = requests.get(url_business, headers = headers)
soup = BeautifulSoup(page.text, 'html.parser')

## 3.1 Name - Price - Stock - Type

In [312]:
products_detalis = soup.find_all('li', class_ = 'col-xs-6 col-sm-4 col-md-3 col-lg-3')
products_name_price_stock = [list (filter(None, i.get_text().split('\n'))) for i in products_detalis ]

df_detalis_business = pd.DataFrame(products_name_price_stock)
df_detalis_business = df_detalis_business.drop([2, 4, 5], axis =1)
df_detalis_business.columns = ['Name', 'Price', 'Stock']
df_detalis_business['Type'] = 'Business'
df_detalis_business['Price'] = df_detalis_business['Price'].str.replace('Â', '')
df_detalis_business['Scraping_date'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

## 3.2 Star-Rating

In [314]:
# Number of results in it page 
results_business= list(filter(None,soup.find(class_ = 'form-horizontal').get_text().split('\n')))
results_business_number = int(results_business[0].replace('results.', ''))

# Star_rating
star_rating = []
for x in range(results_business_number):
    el = soup.find_all(class_ = 'star-rating')[x]
    class_name = el['class']
    a = class_name[1]
    star_rating.append(a)

# Star-rating dataframe 
star_rating_business = pd.DataFrame(star_rating)
star_rating_business.columns = ['star_rating']

## 3.3 DataFrame raw Business

In [316]:
# Concat of dataframes 
df_raw_business = pd.concat([df_detalis_business, star_rating_business], axis = 1)
df_raw_business

,Name,Price,Stock,Type,Scraping_date,star_rating
0,The Dirty Little Secrets ...,£33.34,In stock,Business,2024-03-07 11:13:51,Four
1,The Third Wave: An ...,£12.61,In stock,Business,2024-03-07 11:13:51,Five
2,The 10% Entrepreneur: Live ...,£27.55,In stock,Business,2024-03-07 11:13:51,Three
3,Shoe Dog: A Memoir ...,£23.99,In stock,Business,2024-03-07 11:13:51,Two
4,Made to Stick: Why ...,£38.85,In stock,Business,2024-03-07 11:13:51,Five
5,Quench Your Own Thirst: ...,£43.14,In stock,Business,2024-03-07 11:13:51,One
6,The Art of Startup ...,£21.00,In stock,Business,2024-03-07 11:13:51,Three
7,Born for This: How ...,£21.59,In stock,Business,2024-03-07 11:13:51,Five
8,The E-Myth Revisited: Why ...,£36.91,In stock,Business,2024-03-07 11:13:51,One
9,"Rich Dad, Poor Dad",£51.74,In stock,Business,2024-03-07 11:13:51,One
10,The Lean Startup: How ...,£33.92,In stock,Business,2024-03-07 11:13:51,Three
11,Rework,£44.88,In stock,Business,2024-03-07 11:13:51,Two

# 4- Concat of all dataframes raw

In [335]:
df_raw = pd.concat([df_raw_classic, df_raw_sf, df_raw_humor, df_raw_business], axis= 0, ignore_index = True)

In [344]:
# Transform in csv
df_raw.to_csv('data_raw.csv', sep=',', index=False, encoding='utf-8')