# 0.0 IMPORTS

In [18]:
import pandas as pd 
from sqlalchemy import create_engine
import sqlite3

# 1.0 INSERTING DATA IN A DATABASE

In [38]:
# read the data
data = pd.read_csv('data_raw.csv')

In [39]:
# conncetion and creatinon of data base
conn = sqlite3.connect('db_books.sqlite')

In [43]:
# creating a empty table
query_schema_books = """
CREATE TABLE books (
    name              TEXT, 
    price             REAL,
    stock             TEXT,
    type              TEXT,
    scraping_date     TEXT,
    star_rating       TEXT
)
"""
#conn.execute(query_schema_books)

In [44]:
# insert data 
data.to_sql('books', con = conn, if_exists= 'append', index = False)

57

In [45]:
# final product
query = """
    SELECT *
    FROM books

"""
table = pd.read_sql_query(query, conn)
table

,name,price,stock,type,scraping_date,star_rating
0,The Secret Garden,15.08,In stock,classic,2024-03-11 10:41:33,Four
1,The Metamorphosis,28.58,In stock,classic,2024-03-11 10:41:33,One
2,The Pilgrim's Progress,50.26,In stock,classic,2024-03-11 10:41:33,Two
3,The Hound of the ...,14.82,In stock,classic,2024-03-11 10:41:33,Two
4,Little Women (Little Women ...,28.07,In stock,classic,2024-03-11 10:41:33,Four
...,...,...,...,...,...,...
109,Born for This: How ...,21.59,In stock,business,2024-03-11 10:41:48,Five
110,The E-Myth Revisited: Why ...,36.91,In stock,business,2024-03-11 10:41:48,One
111,"Rich Dad, Poor Dad",51.74,In stock,business,2024-03-11 10:41:48,One
112,The Lean Startup: How ...,33.92,In stock,business,2024-03-11 10:41:48,Three
113,Rework,44.88,In stock,business,2024-03-11 10:41:48,Two

In [46]:
conn.close()